.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 25px;
}

.HarvardArtLogo{
    width: 350px;
    height: auto;
}